/*HTML*/

/*body styles*/
body{
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 16px;
    width: 85%;
    margin: auto;
    background-color: #333;
}
header>h1{
    font-size: 36px;
    margin: 35px;
    padding: 15px 0 0 15px;
    background-color: rgb(6, 31, 53);
    color: white;
    text-align: center;
}
figure>img{
    float: 0;
}