@charset "utf-8";
/*web fonts*/
@font-face {
    font-family: 'champagne';
    src: url('cac_champagne.woff') format('woff'),
     url('cac_champagne.ttf') format('truetype');
         
}
@font-face {
    font-family: 'Grunge';
    src: url('1942.woff') format('woff'),
        url('1942.ttf') format('truetype');
}
@font-face {
    font-family: 'Dobkin';
    src: url('DobkinPlain.woff') format('woff'),
    url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: chris bright
   Date:   11-04-1980
   
   Filename: ph_styles.css

*/


/* Structural Styles  background color create style rule*/
html{
    background-color: hsl(91, 8%, 56%);
}






/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

